body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header{
background-color:#7e7e7e;
}